* {
  box-sizing: border-box;
}

input, button {
  border:0;
  margin:0;
  padding:0;
  font-size:0;
  font-weight:normal;
}

body {
  background: linear-gradient(135deg, #7B4397, #B5238A, #DC2430);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box{
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.form-input{
  width: 100%;
  display: inline-block;
  padding: 20px 10px;
  margin: 10px 0;
  font-size: 1.6em;
  border: 1px solid #666;
  text-transform: capitalize;
  border-radius: 5px;
}

.input-container{
  position: relative;
}

.input-container .toggle-pwd {
  position: absolute;
  top: 50%;
  left: 90%;
  font-size: 15px;
  transform: translateY(-50%);
  color: #333;
}

.generate-btn {
  background: #ff4533;
  border-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: bold;
  cursor: pointer;
}

.copy-btn {
  background: #37f34d;
  border-color: #69ff6c;
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: bold;
  cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px;
  }
  
.creds {
    text-align: center;
    font-size: 14px;
}
